.moviescard__poster {
    width: 100%;
    height: 200px;
 }

 @media (max-width: 1240px) {
    .moviescard__poster {
        height: 190px;
    }
  }
  
  @media (max-width: 740px) {
    .moviescard__poster {
        height: 168px;
    }
  }