.register__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 0 0 0 6px;
}

@media (max-width: 420px) {
    .register__link {
        margin: 0 0 0 7px;
        font-size: 12px;
        line-height: 15px;
    }
  }