.login__submit {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 3px;
    padding: 0;
    height: 45px;
    margin: 20px 0 0;
    border: none;
}

.login__submit:disabled {
    background: #F8F8F8;
    color: #C2C2C2;
}

.login__submit:disabled:hover {
    cursor: auto;
}

.login__submit:hover {
    cursor: pointer;
    }

@media (max-width: 420px) {
    .login__submit {
        font-size: 12px;
        line-height: 15px;
    }
  }