.moviescard__save-button {
    margin: 18px auto;
    background: #F9F9F9;
    border-radius: 30px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    padding: 0;
    border: none;
    width: 100px;
    height: 29px;
}

.moviescard__save-button:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    .moviescard__save-button {
        margin: 14px auto;
    }
  }