.navtab__title {
    width: 730px;
    height: 116px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0 auto;
    padding: 160px 0 0;
}

@media (max-width: 768px) {
    .navtab__title {
        max-width: 680px;
        width: auto;
        height: 104px;
        font-size: 40px;
        line-height: 52px;
        padding: 350px 0 0;
    }
  }
  
  @media (max-width: 420px) {
    .navtab__title {
        width: 292px;
        height: 111px;
        font-size: 29px;
        line-height: 37px;
        padding: 220px 0 0;
    }
  }