.techs {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

@media (max-width: 420px) {
    .techs {
        background-color: #fff;
    }
  }