.about-project__info-text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin: 26px 0 0 0;
}

@media (max-width: 768px) {
    .about-project__info-text {
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0 0;
        height: 54px;
    }
  }
  
  @media (max-width: 420px) {
    .about-project__info-text {
        font-size: 11px;
        line-height: 16px;
        margin: 16px 0 0 0;
    }
  }