.techs__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    height: 27px;
    margin: 0;
}
  
  @media (max-width: 420px) {
    .techs__title {
        font-size: 18px;
        line-height: 22px;
        height: 22px;
    }
  }