.pagenotfound__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 5px auto 0;
}
  
  @media (max-width: 420px) {
    .pagenotfound__text {
        font-size: 12px;
        line-height: 15px;
        margin: 10px auto 0;
    }
  }